.AlarmClock
        {
             position: absolute;
            align-items : center;
            margin-right: 8px;
            margin-bottom: 8px;
            padding : auto ;
        }

  #alarmTime
        {
          width: 50%;
          height: 50%;
       
        }
