.AlarmClock
        {
             position: absolute;
             left: 0;
             top: 0;
            margin-right: 8px;
            margin-bottom: 8px;
        }
  #alarmTime
        {
          width: 50%;
          height: 50%;
       
        }
