.todos-bg-container {
  background-image: url('https://res.cloudinary.com/dbraeu015/image/upload/v1626239734/bcaacbbba1ed34b836c649afcf344537_vxq2ff.jpg');
  height: 100vh;
  background-size: cover;
  padding: 3px;
  }
  
  .todos-heading {
    text-align: center;
    font-family: "Roboto";
    font-size: 46px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
    font-style: bold;
    color: white;
  }
  
  .create-task-heading {
    font-family: "serif";
    font-size: 32px;
    font-weight: 700;
    color: #fdfdfd;
  }
  
  .create-task-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: #fdfdfd;
  }
  
  .todo-items-heading {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 700;
    color: #fdfdfd;
  }
  
  .todo-items-heading-subpart {
    font-family: "Roboto";
    font-size: 32px;
    font-weight: 500;
    color: #fdfdfd;
  }
  
  .todo-items-container {
    margin: 0px;
    padding: 0px;
  }
  
  .todo-item-container {
    margin-top: 15px;
  }
  
  .todo-user-input {
    background-color: white;
    width: 70%;
    border-style: solid;
    border-width: 1px;
    border-color: #e4e7eb;
    border-radius: 10px;
    margin-top: 10px;
    padding: 15px;
  }
  
  .button-todo {
    color: white;
    background-color: #4c63b6;
    font-family: "Roboto";
    font-size: 18px;
    border-width: 0px;
    border-radius: 4px;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 20px;
    padding-left: 20px;
  }
  
  .label-container {
    background-color: #e6f6ff;
    width: 70%;
    border-style: solid;
    border-width: 5px;
    border-color: #096f92;
    border-right: none;
    border-top: none;
    border-bottom: none;
    border-radius: 4px;
  }
  
  .checkbox-input {
    width: 20px;
    height: 20px;
    margin-top: 12px;
    margin-right: 12px;
  }
  
  .checkbox-label {
    font-family: "Roboto";
    font-size: 16px;
    font-weight: 400;
    width: 82%;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 5px;
  }
  
  .delete-icon-container {
    text-align: right;
    width: 100%;
  }
  
  .delete-icon {
    padding: 10px;
  }
  
  .checked {
    text-decoration: line-through;
  }

